/* table {width: 100%;}
h.mat-header-cell, td.mat-cell {text-align: center;} */

.boton{
    margin-left: 90px;
    max-width:200px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}
.container{
    width: 60%;
    max-width: 380px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
label{
    display:block;
    font-weight: bold;
    margin-top: 10px;
}
input,select,textarea{
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

centrar-tabla {
    width: 90%;
    border-collapse: collapse;
    
}

.centrar-tabla th, .centrar-tabla td {
    text-align: center;
    padding: 10px;
    border: 2px solid #040303;
}

.centrar-tabla th {
    background-color: #716464;
}

h1, h2{
    text-align: center;
}